.animalButton {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 10px 0;
}

.animals {
  display: flex;
  justify-content: space-evenly;
}

.icon--dog {
  width: 50px;
  height: 50px;
}

.card {
  flex-basis: 15rem;
}

.card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.card-link {
  margin: 12px 0 0 0;
  font-size: 0.7em;
}
